.site-header {
    width: 100%;
    min-height: 80vh;
    position: relative;
    text-align: center;
    height: 100%;
    text-align: start;
}

.row-link {
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
}

a{
    color: #337ab7;
}