*{
    font-weight: normal;
    font-size: 17px;
}

.site-header{
    min-height: 450vh;
}

.col-md-8{
    width: 100%;
    text-align: start;
    display: flex;
    justify-content: center;
}

.paper-specs{
    line-height: 30px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    text-align: start;
}

.w-50{
    width: 55%;
}

.list{
    font-weight: 900;
    line-height: 0;
}

.list p{
    font-weight: normal;
    line-height: normal;
}

.list-1{
    font-weight: 900;
    line-height: 1.4;
}
.list-1 p{
    font-weight: normal;
}

/* li{ */
    /* line-height: 0; */
/* } */